/* 폰트 */
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
html {
  font-family: 'LotteMartDream', sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1, h2, h3 {
  margin:0;
  padding:0;
  list-style:none;
}
a {
  color:inherit;
  text-decoration:none;
}

/* 라이브러리 */
.flex {
  display:flex;
}

.flex-jc-c {
  justify-content:center;
}

.flex-ai-c {
  align-items:center;
}

.flex-wrap {
  flex-wrap:wrap;
}

.flex-column {
  flex-direction:column;
}

.flex-grow-1 {
  flex-grow:1;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.min-height-100vh {
  min-height:100vh;
}

.bg-pink {
  background-color:pink;
}

.bd-green {
  border:10px solid green;
}

.bg-red {
  background-color:red;
}

.bg-blue {
  background-color:blue;
}

.height-100p {
  height:100%;
}

.block {
  display:block;
}

/* 커스텀 */
:root {
  --article-list__cell-id__width:100px;
  --article-list__cell-reg-date__width:220px;
  --article-list__cell-writer__width:150px;
  --article-list__cell-title__width:calc(100% - var(--article-list__cell-id__width) - var(--article-list__cell-reg-date__width) - var(--article-list__cell-writer__width));
}
.con-min-width {
  min-width:1200px;
}

.con {
  width:1200px;
}

/* 로고 시작 */
.logo {
  font-size:4rem;
}

.logo > span {
  margin-left:10px;
}

.logo > span > span {
  color:red;
}

.logo--mini {
  font-size:2rem;
}
/* 로고 끝 */

/* 로고바 시작 */
.logo-bar {
  background-color:black;
  color:white;
  height:150px;
}
/* 로고바 끝 */

/* 메뉴바 시작 */
.menu-bar {
  background-color:black;
  color:white;
}

.menu-bar__menu-1 > ul > li {
  width:25%;
  position:relative;
}

.menu-bar__menu-1 ul > li > a {
  text-align:center;
  padding:20px 0;
}

.menu-bar__menu-1 ul > li:hover > a {
  
  background-color:white;
  z-index:1;
  color:black;
}

.menu-bar__menu-1 > ul > li > a {
  border-radius:10px 10px 0 0;
}

.menu-bar__menu-1 > ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:-10px;
  width:100%;
  background-color:black;
  border:10px solid black;
  border-top-width:0;
  border-radius:0 0 20px 20px;
  z-index:10;
  font-size:1.5rem;
}
.menu-bar__menu-1> ul ul i{
	margin-right:10px;
}

.menu-bar__menu-1 > ul > li:hover > ul {
  display:block;
}

.menu-bar__menu-1 > ul ul > li:last-child > a {
  border-radius:0 0 10px 10px;
}
/* 메뉴바 끝 */

/* 타이틀바 시작 */
.title-bar {
  margin-top:30px;
  margin-bottom:30px;
}

.title-bar h1{
  margin-bottom:10px;
}
.title-bar h1 i{
  margin-right:1px;
}
/* 타이틀바 끝 */

/* 하단바 시작 */
.bottom-bar {
  margin-top:0px;
  background-color:black;
  color:white;
  padding-top:30px;
  padding-bottom:30px;
}

.bottom-bar__site-info {
  margin-left:20px;
}
main{
  color: white;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 background-image: url("downloads/0.jpg");
 
}
main > .hyperlink_page{
  text-align:center;
  
}
main> .hyperlink_page li{
 display:inline-block;
  margin:0 20px;
  
  
}
main> .hyperlink_page li a{
  
  padding:0 10px;
  font-size:1.2rem;
  border:1px solid transparent;
}

main> .hyperlink_page li:hover a{
  border-color:#aaaaaa;
}
/* 리스트 */

.article-list > * > div::after {
  content:"";
  display:block;
  clear:both;
}

.article-list > header > div > div {
  position:relative;
}

.article-list > header > div > div:not(:last-child)::after {
  content:"";
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  right:0;
  width:1px;
  height:10px;
  background-color:black;
}

.article-list > * > div > div {
  float:left;
  box-sizing:border-box;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

.article-list__cell-id {
  width:var(--article-list__cell-id__width);
}

.article-list__cell-reg-date {
  width:var(--article-list__cell-reg-date__width);
}

.article-list__cell-writer {
  width:var(--article-list__cell-writer__width);
  
}

.article-list__cell-title {
  width:var(--article-list__cell-title__width);
  font-weight:bold;
  font-size:1.2rem;
}

.article-list > main .article-list__cell-title {
  text-align:left;
  padding-left:10px;
}

.article-list > main > div {
  border-top:1px solid black;
}

.below_button {
  justify-content:center;
  
}
.below_button a{
  font-weight:bold;
  margin:0 20px;
}
.below_button a:hover{
  text-decoration:underline;
}
/* 상세 게시물 바디 */

.article_body > div:not(:last-child){
  border-bottom:1px solid black;
}
.article_body>div:last-child{
  border:1px solid black;
  border-top:0;
}
.article_body >div:first-child{
font-weight:bold;
  font-size:1.2rem;
  }

.article_body__title {
	font-size: 1.2rem;
	padding-top: 0;
}

.article_body__sub-info>* {
	margin-right: 15px;
}

.article-detail__menu>a {
	margin-right: 15px;
}
.side-bar{
  height:270px;
  width:200px;
  background-color:rgba(255, 255, 255, 0.8);
  left:-170px;
   z-index:10;
  text-align:center;
  position:fixed;
  transition:left .4s;
}
.side-bar > selector{
  color: #93f7b4;
  font-size:1.2rem;
  font-weight:bold;
}
.side-bar:hover{
  left:0px;
}
.side-bar li:hover{
  text-decoration:underline;
  color:black;
  background-color:white;
  
  
}
/* 이미지 박스 */
HTML CSS JSResult Skip Results Iframe
EDIT ON
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 400px;
  height:400px;
  position: relative;
  margin: auto;
}
.slideshow-container img{
  width: 400px;
  height:400px;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.default{
  z-index:-1;
}
.slideshow-container:hover > .default{
  display:none;
  
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



Resources1×0.5×0.25×Rerun

